# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar archivos de sistema
.DS_Store
Thumbs.db